@media only screen and (max-width: 800px) {
  main .product ul {
    width: 100%;
  }
  main .product ul li {
    width: 25% !important;
  }
}

@media only screen and (max-width: 650px) {
  main .product {
    width: 100% !important;
  }
  main .product ul li {
    width: 50% !important;
  }
  * {
    font-size: 3vw;
  }
}
