@media only screen and (max-width: 800px) {
  .responsive-hamburger-menu-unactive {
    display: none !important;
  }
  .close {
    display: flex !important;
    float: right;
  }
}

@media only screen and (max-width: 740px) {
  nav ul li a {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 570px) {
  nav {
    width: 100%;
    height: calc(auto * 2);
  }
  nav ul {
    display: block !important;
    width: auto;
  }
  nav ul li a {
    font-size: 25px;
  }
}

@media only screen and (max-width: 300px) {
  nav ul li a {
    font-size: 5vw;
  }
}
